@media (max-width: 500px) {
  
  main {
    max-width: 960vw;
    margin: 0 auto;
    
  }

  .dwireframe {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .mwireframe {
    width: 100%;
    height: auto;
    padding: 0;
  }
}