:root {
  --form-background-color: #fff;
  --font-family: Arial, sans-serif;
  --form-border-color: #ccc;
  --form-padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a39f9f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-color: #3e5b7e;
  color: #fff;
  padding: 35px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.navigation {
  background-color: #1d3a63;
  padding: 20px;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px 3rem;
  font-weight: 700;
}

.navigation a:hover {
  background-color: rgba(255,255,255,0.2);
}

.navigation .active {
  background-color: #3d5776;
}

.hero-image {
  width: 99%;
  height: auto;
  padding: 10px;
}

main {
  padding: 20px;
  flex: 4;
}


footer {
  background-color: #334c6b;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex: 1;
}

.discription {
  display: inline;
}

#hamburger-menu {
  display: none; 
}

.cta-button {
  background-color: #112c52;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cta-button:hover {
  background-color: #a39f9f;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.spotlightgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.grid section {
  background-color: #fff;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 0 0 30px rgb(83,75,75);
}

.spotlightgrid section {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 30px rgb(83,75,75);
  padding: 10px;
  border: 1px solid black;
}

/* ---------------------------Discovery----------------------------- */

.side-bar {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px;
  padding: 100px;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.left-column {
  padding-right: 20px;
}

.right-column {
  padding-left: 20px;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
}

.photo-title {
  margin-bottom: 2rem;
}

.photo-control, .photo-title {
  width: 100%;
  height: auto;
}

.photo-control-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  animation: fade 2s;
}

.photo-control img:hover {
  transform: scale(1.1);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* ---------------------------Form----------------------------- */


.user-info {
  text-align: initial;
  margin: 5% auto;
}

.user-info fieldset {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5rem;
}

.user-info legend {
  padding: 0 .8rem;
  font-weight: bold;
  font-size: 2rem;
}

.user-info label,
.container {
  display: block;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.user-info input[type="text"],
.user-info input[type="tel"],
.user-info input[type="email"] {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 10px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 400px;
  appearance: none;
}

textarea {
  display: block;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.user-info input[type="radio"] {
  margin-right: 1.5rem;
}

.box {
  display: grid;
  grid-template-columns: 50%;
  gap: 2rem;
  font-weight: bold;
}

.box {
  padding-top: 2rem;
}

.content {
  border: solid 1px #999;
  border-radius: 10px;
  padding: 0 3rem;
  background-color: #eee;
}

.content li {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.content .cost {
  font-size: 1.1rem;
  font-weight: normal;
  list-style: none
}

.user-info input[type="submit"] {
  border: none;
  background-image: linear-gradient(#3e5b7e, #9c2c13, #3e5b7e);
  color: #fff;
  border-radius: 10px;
  padding: 1.2rem;
  width: 43%;
  max-width: 40rem;
  margin: -1rem 2% 2rem 7%;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.8rem;
}

.thankyou-message {
  padding: 3rem;
}

.user-info input:required {
  border-left: solid 3px red;
}

.user-info input:required:valid {
  border-left: solid 3px green;
}


/* ---------------------------Directory----------------------------- */

#members-list section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#members-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

#members-list img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
  width: 250px;
  height: auto;
}

#members-list p {
	font-weight: 600;
	font-size: 18px;
}

#members-list h4 {
  display: none;
  font-size: 30px;
}