@media (max-width: 500px) {
  
  main {
    max-width: 960vw;
    margin: 0 auto;
    
  }

  h1 {
    font-size: 1.4rem;
    padding: 20px;
    vertical-align: middle;
  }

  .hero-image, .photo-container-img {
    width: 100%;
    height: auto;
    padding: 10px;
  }


  .navigation {
    background: none;
  }

  .navigation a {
    display: none;
  }

  .navigation a:hover {
    background-color: rgba(255,255,255,0.2);
  }

  #hamburger-menu::before {
    content: "☰";
  }

  #hamburger-menu.open::before {
    content: "❌";
  }
  
  #hamburger-menu {
    font-size: 1.5rem;
    border: 0;
    color: #000;
    position: absolute;
	  left: 10px;
	  top: 10px;
    display: block;
    text-decoration: none;
  }

  .open a {
    display: block;
    background-color: #1d3a63;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    display: block;
  }

  .grid section {
    background-color: #fff;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0 0 30px rgb(83,75,75);
  }

  .spotlightgrid, .side-bar {
    display: block;
    padding: 50px;
  }

  .spotlightgrid section {
    border: 1px solid black;
    margin-bottom: 30px;
  }

}

/* ****************Form******************/

@media (max-width: 450px) {
  .user-info {
      margin: 15% auto;
  }

  .content:hover {
    background-color: #ddd;
  }

  .box {
    grid-template-columns: 1fr;
  }

  .user-info input[type="submit"] {
    width: 100%;
    padding: 5px;
  }
}