:root {
  --form-background-color:: #fff;
  --font-family: Arial, sans-serif;
  --form-border-color: #ccc;
  --form-padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a39f9f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-color: #3e5b7e;
  color: #fff;
  padding: 35px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.navigation {
  background-color: #1d3a63;
  padding: 20px;
}

.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px 3rem;
  font-weight: 700;
}

.navigation a:hover {
  background-color: rgba(255,255,255,0.2);
}

.navigation .active {
  background-color: #3d5776;
}

.hero-image {
  width: 99%;
  height: auto;
  padding: 10px;
}

main {
  padding: 20px;
  flex: 4;
}


footer {
  background-color: #334c6b;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  flex: 1;
}

.discription {
  display: inline;
}

#hamburger-menu {
  display: none; /* hide hamburger button */
}

.cta-button {
  background-color: #112c52;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cta-button:hover {
  background-color: #a39f9f;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.spotlightgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.grid section {
  background-color: #fff;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 0 0 30px rgb(83,75,75);
}

.spotlightgrid section {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 30px rgb(83,75,75);
  padding: 10px;
  border: 1px solid black;
}

/* ---------------------------Discovery----------------------------- */

.side-bar {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px;
  padding: 100px;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
}

.left-column {
  padding-right: 20px;
}

.right-column {
  padding-left: 20px;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
}

.photo-title {
  margin-bottom: 2rem;
}

.photo-control, .photo-title {
  width: 100%;
  height: auto;
}

.photo-control-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  animation: fade 2s;
}

.photo-control img:hover {
  transform: scale(1.1);
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* ---------------------------Form----------------------------- */


:root {
    --form-background-color: #f9f9f9;
    --form-border-color: #ccc;
    --form-padding: 20px;
}

form {
    background-color: var(--form-background-color);
    border: 1px solid var(--form-border-color);
    padding: var(--form-padding);
    max-width: 800px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.wfi fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #09194e;
    padding: 0 1.5rem;
    font-weight: bold;
    font-size: large;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 5px;
    color: #09194e;
    font-size: 1.2rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid {
    border-left: solid 8px green;

    position: relative;
}

.wf1 input:required:valid::after {
    content: "Valid";
    position: absolute;
    left: -9999px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 10px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1.5rem .1% 2rem 1.5%;
    box-shadow: 1px 1px 4px #999;
}

div {
    font-weight: bold;
}

.membership-field .cost {
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}




.membership-boxes {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.membership-field {
  border: solid 1px #999;
  border-radius: 10px;
  padding: 0 3rem;
  background-color: #eee;
}

.membership-field li {
  font-size: 1.1rem;
  margin-top: 1rem;

  font-weight: normal;
}

.membership-field .cost {
  font-size: 1.3rem;
  font-weight: bold;
  list-style: none
}

.level {
  padding: 25px;
  text-align: center;
}

