/* VIDEO */
label {display: block;}

#pfeedback {color: red;}

:root {
    --form-background-color: #f9f9f9;
    --form-border-color: #ccc;
    --form-padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: var(--form-padding);
}

form {
    background-color: var(--form-background-color);
    border: 1px solid var(--form-border-color);
    padding: var(--form-padding);
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="range"] {
    margin-bottom: 1px;
}

#range {
    display: inline-block;
    margin-left: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #09194e;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 5px;
    color: #09194e;
    font-size: 1.2rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid {
    border-left: solid 8px green;

    position: relative;
}

.wf1 input:required:valid::after {
    content: "Valid";
    position: absolute;
    left: -9999px;
}



.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1.5rem .1% 2rem 1.5%;
    box-shadow: 1px 1px 4px #999;
}

div {
    font-weight: bold;
}
