@media (max-width: 400px) {
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
    background: none;
  }

  .navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  main {
    max-width: 960px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    display: block;
  }

  .grid section {
    background-color: #fff;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0 0 30px rgb(83,75,75);
  }

  h5 {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
  }

  nav {
    max-width: 700px;
    margin: 1rem auto;
  }

  .foot {
    text-align: center;
    padding: 10px;
    width: 100%;
    flex: 1;
  }
  
  h1 {
    text-align: center;
    font-size: 1rem;
  }

  #hamburger-menu::before {
    content: "☰";
  }

  #hamburger-menu.open::before {
    content: "❌";
  }
  
  #hamburger-menu {
    font-size: 1.5rem;
    border: 0;
    color: #000;
    position: absolute;
	  left: 10px;
	  top: 10px;
    display: block;
    text-decoration: none;
  }

  .open a {
    display: block;
  }

  .name {
    font-size: 1.2rem;
  }

  .pic{
    width: 45px;
    height: auto;
    padding: 4px;
  }

/*  .positioning {
    position: absolute;
    left: 80px;
    top: 160px;
    font-size: 15px
  }*/

  .map {
    margin: auto;
    width: 90%;
    padding: 30px;
    animation: fade 2s;
  }
  
} 